<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    //find current highestId
    var highestId = null;
    var items = (<%-JSON.stringify(items)%>);
    for (var i = 0; i < items.length; i++) {
      if(items[i].id > highestId){
        highestId = items[i].id;
      }
    }

    $(function () {
      var socket = io();
      $('#new-item').submit(function(e){
        e.preventDefault(); // prevents page reloading
        socket.emit('new item', $('#new-item-name').val());
        $.post("/items/create", {name: $('#new-item-name').val()})
        $('#new-item-name').val('');
        return false;
      });
      socket.on('new item', function(itemName){
        highestId++
        var newItemId = highestId;

        $('#items-list').append(`
          <li class="list-group-item" id="item-${highestId}">
            <div id="item-${highestId}-listing" class="item-listing">
              <div  style="float:left">

                <form style="display: inline;" action="/items/${highestId}/update" method="post" class="form" style="margin-bottom: 0px">
                  <input type="text" name="name" aria-describedby="bodyHelp" placeholder=${itemName} value=${itemName} hidden/>
                  <div class="custom-control custom-checkbox" style="display: inline" >
                    <% if(!"item.completed"){ %>
                      <input type="checkbox" class="custom-control-input" id="item-${highestId}-checkbox" onclick="this.form.submit();" checked>
                      <input type="text" name="completed" aria-describedby="bodyHelp" value="false" hidden/>
                      <label class="custom-control-label" for="item-${highestId}-checkbox"></label>
                    <% } else { %>
                      <input type="checkbox" class="custom-control-input" id="item-${highestId}-checkbox" name="completed" value="true" onclick="this.form.submit();" >
                      <label class="custom-control-label" for="item-${highestId}-checkbox"></label>
                    <% } %>
                  </div>
                  <p style="display: inline;">
                    ${itemName}
                  </p>
                </form>

              </div>

              <div class="text-right buttons" style="white-space: nowrap">

                <div style="display: inline-block">
                  <form action="" method="post">
                    <button type="button" onclick="toggleEditForm('${highestId}', 'on')" name="item-edit" value="edit" class="btn btn-outline-info btn-xs" style="margin-left: 20px">
                      <i class="fa fa-edit"></i>
                    </button>
                  </form>
                </div>
                <div style="display: inline-block">
                  <form action="/items/${highestId}/destroy" method="post">
                    <button type="submit" name="item-destroy" value="destroy" class="btn btn-outline-danger btn-xs" style="margin-left: 20px">
                      <i class="fa fa-times"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div id="item-${highestId}-edit" class="item-edit" style="display: none ">
              <div style="float:left; width: 60%">
                <form action="/items/${highestId}/update" method="post" class="form" style="margin-bottom: 0px">
                  <div class="form-group input-large" style="float: left; margin:0 4px 0 0; width: 100%">
                    <input style="margin:0; padding: 1px 8px" type="text" class="form-control form-control-sm item-edit-input" name="name" aria-describedby="bodyHelp" placeholder="${itemName}" value="${itemName}" />
                  </div>
              </div>
              <div class="text-right buttons" style="white-space: nowrap">
                <div style="display: inline-block">
                    <button type="submit" class="btn btn-outline-success btn-xs"><i class="fa fa-save"></i></button>
                  </form>
                </div>
                <div style="display: inline-block">
                  <button type="button" onclick="toggleEditForm('${highestId}', 'off')" %> name="item-edit" value="edit" class="btn btn-outline-info btn-xs" style="margin-left: 20px">
                    <i class="fa fa-undo"></i>
                  </button>
                </div>
                <div style="display: inline-block">
                  <form action="/items/${highestId}/destroy" method="post">
                    <button type="submit" name="item-destroy" value="destroy" class="btn btn-outline-danger btn-xs" style="margin-left: 20px">
                      <i class="fa fa-times"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </li>
        `);
      });
    });
  </script>
  <body>

    <!-- Navigation -->
    <% include ../static/partials/navbar.ejs %>


    <!-- Page Content -->
    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>Groceries</h1>
      <hr>
      <% include ../items/new.ejs %>

      <ul class="list-group" id="items-list">
        <% items.sort(function(a, b){ %>
          <% var keyA = a.id; %>
          <% var keyB = b.id; %>

          <% if(keyA < keyB) return -1; %>
          <% if(keyA > keyB) return 1; %>
          <% return 0; %>
          <% }) %>
        <% items.forEach((item) => { %>

          <li class="list-group-item" id="item-<%= item.id %>">
            <div id="item-<%= item.id %>-listing" class="item-listing">
              <div  style="float:left">

                <form style="display: inline;" action="/items/<%= item.id %>/update" method="post" class="form" style="margin-bottom: 0px">
                  <input type="text" name="name" aria-describedby="bodyHelp" placeholder="<%= item.name %>" value="<%= item.name %>" hidden/>
                  <div class="custom-control custom-checkbox" style="display: inline" >
                    <% if(item.completed){ %>
                      <input type="checkbox" class="custom-control-input" id="item-<%= item.id %>-checkbox" onclick="this.form.submit();" checked>
                      <input type="text" name="completed" aria-describedby="bodyHelp" value="false" hidden/>
                      <label class="custom-control-label" for="item-<%= item.id %>-checkbox"></label>
                    <% } else { %>
                      <input type="checkbox" class="custom-control-input" id="item-<%= item.id %>-checkbox" name="completed" value=<%= !item.completed %> onclick="this.form.submit();" >
                      <label class="custom-control-label" for="item-<%= item.id %>-checkbox"></label>
                    <% } %>
                  </div>
                  <p style="display: inline;">
                    <%= item.name %>
                  </p>
                </form>

              </div>

              <div class="text-right buttons" style="white-space: nowrap">

                <div style="display: inline-block">
                  <form action="" method="post">
                    <button type="button" onclick="toggleEditForm('<%= item.id %>', 'on')" name="item-edit" value="edit" class="btn btn-outline-info btn-xs" style="margin-left: 20px">
                      <i class="fa fa-edit"></i>
                    </button>
                  </form>
                </div>
                <div style="display: inline-block">
                  <form action="/items/<%= item.id %>/destroy" method="post">
                    <button type="submit" name="item-destroy" value="destroy" class="btn btn-outline-danger btn-xs" style="margin-left: 20px">
                      <i class="fa fa-times"></i>
                    </button>
                  </form>
                </div>

              </div>


            </div>
            <div id="item-<%= item.id %>-edit" class="item-edit" style="display: none ">

              <div style="float:left; width: 60%">
                <form action="/items/<%= item.id %>/update" method="post" class="form" style="margin-bottom: 0px">
                  <div class="form-group input-large" style="float: left; margin:0 4px 0 0; width: 100%">
                    <input style="margin:0; padding: 1px 8px" type="text" class="form-control form-control-sm item-edit-input" name="name" aria-describedby="bodyHelp" placeholder="<%= item.name %>" value="<%= item.name %>" />
                  </div>
              </div>
              <div class="text-right buttons" style="white-space: nowrap">
                <div style="display: inline-block">
                    <button type="submit" class="btn btn-outline-success btn-xs"><i class="fa fa-save"></i></button>
                  </form>
                </div>
                <div style="display: inline-block">
                  <button type="button" onclick="toggleEditForm('<%= item.id %>', 'off')" %> name="item-edit" value="edit" class="btn btn-outline-info btn-xs" style="margin-left: 20px">
                    <i class="fa fa-undo"></i>
                  </button>
                </div>
                <div style="display: inline-block">
                  <form action="/items/<%= item.id %>/destroy" method="post">
                    <button type="submit" name="item-destroy" value="destroy" class="btn btn-outline-danger btn-xs" style="margin-left: 20px">
                      <i class="fa fa-times"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </li>
        <% }) %>
      </ul>

    </main>
    <div class="buffer"></div>
    <!-- /.container -->

    <% include ../static/partials/baseScripts.ejs %>
  </body>

  <script type="text/javascript">
    function toggleEditForm(itemId, onOff){
      var selectedItemElement = document.getElementById(`item-${itemId}`);
      var selectedForm = document.getElementById(`item-${itemId}-edit`);
      var selectedListing = document.getElementById(`item-${itemId}-listing`);
      var allForms = document.getElementsByClassName(`item-edit`);
      var allFormInputs = document.getElementsByClassName(`item-edit-input`);
      var allListings = document.getElementsByClassName(`item-listing`);

      //   show all listings, hide and reset all forms
      for (var i = 0; i < allListings.length; i++) {
        var currListing = allListings[i];
        var currForm = allForms[i];
        var currFormInput = allFormInputs[i];

        currListing.style.display = "block";
        currForm.style.display = "none";
        currFormInput.value = currFormInput.placeholder;
      }

      if(onOff === "on"){
      //   hide selected listing
      selectedListing.style.display = "none";
      //   show selected form
      selectedForm.style.display = "block";
      }
    }
  </script>
</html>
